<header class="header">
      <nav class="navbar navbar-expand-lg">
        <div class="search-area">
          <div class="search-area-inner d-flex align-items-center justify-content-center">
            <div class="close-btn"><i class="icon-close"></i></div>
            <div class="row d-flex justify-content-center">
              <div class="col-md-8">
                <form action="#">
                  <div class="form-group">
                    <input type="search" name="search" id="search" placeholder="What are you looking for?">
                    <button type="submit" class="submit"><i class="icon-search-1"></i></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="navbar-header d-flex align-items-center justify-content-between">
            <a href="/" class="navbar-brand">Programming with Python</a>
            
            <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span></span><span></span><span></span></button>
          </div>
         
          <div id="navbarcollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a href="/about" class="nav-link ">About</a>
              </li>
              <li class="nav-item"><a href="/articles" class="nav-link active ">Blog</a>
              </li>
              <li class="nav-item"><a href="post.html" class="nav-link ">Post</a>
              </li>
              <li class="nav-item"><a href="#" class="nav-link ">Contact</a>
              </li>
            </ul>
            {% if session["logged_in"] %}
            <div class = "ml-1"><a href="/add-article"><button type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Add a new article"><i class="fas fa-plus"></i></button></a></div>
            <div class = "ml-1"><a href="#"><button type="button" class="btn btn-dark" data-toggle="tooltip" data-placement="bottom" title="All Articles"><i class="far fa-newspaper"></i></button></a></div>
            <div class = "ml-1"><a href="/dashboard"><button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Manage settings"><i class="fas fa-cog"></i></button></a></div>
            <div class = "ml-1"><a href="/logout"><button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Log out"><i class="fas fa-sign-out-alt"></i></button></a></div>
            {% else %}
            <div class = "ml-4"><a href="/login"><button type="button" class="btn btn-success">Login</button></a></div>
            <div class = "ml-1"><a href="/register"><button type="button" class="btn btn-warning">Register</button></a></div>
            {% endif %}
            
            
          </div>
        </div>
      </nav>
    </header>