{% extends "layout.html" %}

{% block body %}
    <!-- Hero Section-->
    <section style="background: url(/static/img/hero.jpg); background-size: cover; background-position: center center" class="hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h1>Always give your best never worry for results.</h1>
          </div>
      </div>
    </section>
    <!-- Intro Section-->
    <section class="intro">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="h3">Blog Mesajları İçin Üst Menüden Posts'a Tıklayınız</h2>
            <p class="text-big">Yapabilirsem <strong>son birkaç tanesini</strong> bu sayfada <strong>göstermeye çabalayacağım</strong>.
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderi.</p>
          </div>
        </div>
      </div>
    </section>
{% endblock body %}